@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Fredoka+One&family=Fuzzy+Bubbles&family=Libre+Baskerville:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Titillium+Web:wght@300&family=Varela+Round&display=swap');

:root{
    --red:#FC4754;
    --black: #10061E;
    --lightred: #FF828B;
    --lightblack: #050303;
    --white: #FFFFFF;
}

body{
    background-color:var(--white) ;
}

*{
    font-family: 'Roboto', normal;
    margin:0px auto; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.header {
    overflow: hidden;
    background-color:black
}
.header a {
    /* display: flex;
    float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 20px 18px;
    text-decoration:solid;
    font-size: 20px;
    line-height: 47px;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.body a {
    overflow: hidden;
    background-color:black
}

.body a {
    /* display: flex;
    float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 20px 18px;
    text-decoration:solid;
    font-size: 20px;
    line-height: 47px;
}

.body b {
    /* display: flex;
    float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 20px 18px;
    text-decoration:solid;
    font-size: 20px;
    line-height: 47px;
}
.column {
    /* flex: 20%; */
    padding: 1px;
  }

.text-block2 {
    position:relative;
    bottom: 70px;
    left: 6px;
    background-color: transparent;
    color: white;
    padding-left: 30px;
    padding-right: 20px;
}

.text-block3 {
    position:relative;
    bottom: 120px;
    right: 6px;
    background-color: transparent;
    color: white;
    padding-left: 1140px;
    padding-right: 10px;
}

.text-block4 {
    position:relative;
    bottom: 120px;
    right: 6px;
    background-color: transparent;
    color: white;
    padding-left: 650px;
    padding-right: 10px;
}
  
.text-block5 {
    position:relative;
    bottom: 70px;
    right: 6px;
    background-color: transparent;
    color: white;
    padding-left: 25px;
    padding-right: 10px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#3b3b3b;
    color: white;
    text-align:center;
    padding: 100px 40px;
}

.footer2 {
    line-height: 80px;
}